.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Make the container full viewport height */

  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  p {
    text-align: justify;
  }
  .about-container {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 1s ease;
}

.fade-out {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.25s ease;
}

/* General styling for about container */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
}
