/* Full page setup */
.full-page {
  height: 100vh; /* Full height for each section */
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  padding: 2rem;
}

/* Container styles */
.container {
  max-width: 2000px;
  display: flex;
  justify-content: flex-start; /* Aligning content closer */
  align-items: center;
  gap: 1.5rem; /* Reduced gap between text and image */
  margin: 0 auto;
}

/* Text styling */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.2;
}

p {
  font-size: 1.25rem;
  line-height: 1.6;
}

/* Introduction image styling */
img {
  height: 30rem;
  width: 30rem;
  object-fit: cover;
  margin-left: 20rem; 
}

/* About, Skills, Experience, Projects, and Certifications sections */
.about, .skills, .experience, .projects, .certifications {
  background-color: black;
  color: white;
  min-height: 100vh;
  background-image: url('/public/dark-gradient-background-with-copy-space/rm218-bb-07.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
}

.projects {
  height: 130vh;
}
.about {
  height: 100vh;
}
.home-section {
  height: 20vh;
}
.certifications {
  height: 140vh;
}

/* Content general styling */
.content {
  max-width: 1000px;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  scroll-snap-type: y mandatory;
}

/* Social Links (Find Me Section) */
.find-me {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}

.social-links {
  margin-top: 0.5rem;
}

.social-links a {
  margin: 0 15px;
}

.light-icon {
  color: white; /* Set the icon color to white or any light color */
  transition: color 0.3s, text-shadow 0.3s, filter 0.3s, transform 0.3s;
  text-shadow: 
    0 1px 0 rgba(0, 0, 0, 0.5), 
    0 2px 0 rgba(0, 0, 0, 0.4), 
    0 3px 0 rgba(0, 0, 0, 0.3); 
}

.social-links a:hover .light-icon {
  color: #007bff; /* Change the icon color on hover */
  filter: drop-shadow(0 0 5px rgba(0, 123, 255, 1)); /* Blue glow effect */
  transform: scale(1.2); /* Magnification effect on hover */
}

/* Flex container styling */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Reused styling */
.social-links a {
  margin: 0 10px;
}

.find-me {
  text-align: center;
}

body {
  margin: 0; /* Remove default body margin */
  display: flex;
  flex-direction: column;
}

.full-page {
  display: flex;
  flex-direction: column; /* Stack sections vertically */
  justify-content: center; /* Center content vertically if needed */
  align-items: center; /* Center content horizontally if needed */
}
