/* Navbar.css */
.navbar {
  background-color: rgba(255, 255, 255, 0.1); /* Optional: Translucent background */
}

.navbar .navbar-brand, 
.navbar .nav-link, 
.navbar .dropdown-item {
  color: #00ff00 !important;  /* Force green text color */
  background-attachment: rgba(255, 255, 255, 0.1);
}
.dropdown-menu{
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar .nav-link.disabled {
  color: gray !important; /* Keep disabled links gray */
}
